{% extends 'base.html.twig' %}

{% block contenu %}
    
    <h1>Ma Liste de Pizza</h1>

    <table>
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Base</th>
                <th>Ingredients</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for pizza in pizzas %}
            <tr>
                
                <td>{{ pizza.nomPizza }}</td>
                
                <td>{{ pizza.base }}</td>
                <td>{{ pizza.ingredients }}</td>
                <td>{{ pizza.prix }}</td>
                <td><img width="100" height="100" src="{{asset('images/')~pizza.image }}"></td>
                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pizza_show', { 'id': pizza.id }) }}">Details</a>
                        </li>
                        <li>
                            <a href="{{ path('pizza_edit', { 'id': pizza.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pizza_new') }}">Ajouter une nouvelle Pizza</a>
        </li>
    </ul>
{% endblock %}
