{% extends 'base.html.twig' %}
{% block nav %}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <ul class="nav text-center">
                    <li class="col-lg-3"><a href="{{ path('home')}}">Accueil</a></li>
                    <li class="col-lg-3"><a href="{{ path('pizza')}}">Nos pizzas</a></li>
                    <li class="col-lg-3"><a href="{{ path('location')}}">Venir nous voir</a></li>
                        {#                    <li class="col-lg-3"><a href="{{ path('login')}}">Se connecter</a></li>#}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block contenu %}

    <div class="container">
        <form class="row thumbnail formAddPizza">
            <input id="imgPizza" class="col-md-2" type="file" accept=".jpg,.png,.jpeg"/>
            <div class="col-md-8">
                <input id="nomPizza" type="text" class="col-md-offset-4 col-md-4 text-center" placeholder="Nom de la pizza"/>
                <input id="ingredientsPizza" type="text" class="col-md-12 text-center" placeholder="Ingredients"/>
                <select id="basePizza">
                    {% for base in bases %}
                        <option value="{{base.id}}">
                            {{base.nom}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <input id="prixPizza" type="text" class="text-center" placeholder="Prix"/>
            </div>
            <div class="col-md-12">
                <input id="ajoutPizza" type="submit" class="btn btn-info col-md-2 col-md-offset-10" value="Ajouter"/>
            </div>
        </form>
        {% for pizza in pizzas %}
            <div class="row thumbnail">
                <img class="col-md-2" src="{{asset('images/')~pizza.image }}">
                <div class="col-md-8">
                    <h3 class="text-center">{{pizza.nomPizza}}</h3>
                    <p class="text-center">{{pizza.ingredients}}</p>
                </div>
                <div class="col-md-2">
                    <h3>Prix: {{pizza.prix}} €</h3>
                    <div class="text-center">
                        <a href="{{ path('pizza_show', { 'id': pizza.id }) }}" class="btn btn-info" role="button">Details</a>
                        <a href="{{ path('pizza_edit', { 'id': pizza.id }) }}" class="btn btn-info" role="button">Modifier</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{#<ul>
    <li>
        <a href="{{ path('pizza_new') }}">Ajouter une nouvelle Pizza</a>
    </li>
</ul>#}
{% endblock %}
{% block javascripts %}
    <script src="/script/pizza.js"></script>
{% endblock %}