<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PizAioli{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('./css/main.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('./css/popup.css')}}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
<header>
    <div class="text-center">
        <h1><link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
            <a class="color-text hover" href="{{ path('home')}}">PIZ'AIOLI</a></h1>
    </div>
</header>
{% block nav %}
    <nav class="navbar navbar-default">
        <ul class="nav text-center">
            <li class="col-lg-3"><a href="{{ path('home')}}">Accueil</a></li>
            <li class="col-lg-3"><a href="{{ path('pizza')}}">Nos pizzas</a></li>
            <li class="col-lg-3"><a href="{{ path('location')}}">Venir nous voir</a></li>
                {% if is_granted("ROLE_ADMIN")%}
                <li class="col-lg-3"><a href="{{ path('fos_user_security_logout')}}">Se deconnecter</a></li>
                {% elseif is_granted("ROLE_USER") %}
                <li class="col-lg-3"><a href="{{ path('fos_user_security_logout')}}">Se deconnecter</a></li>
                {% else %}
                <li class="col-lg-3"><a href="{{ path('fos_user_security_login')}}">Se connecter</a></li>
                {% endif %}
            <p id="cart" onclick="mycart()"><img src='./images/cart.png'></p>
            <span class="badge cart"></span>

            <!-- Popup ajouter au panier -->
            <div class="modal blur-effect" id="popup">
                <div class="popup-content">
                    <h3>Ajouter au panier</h3>
                    <div>
                        <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <p><span class="btn btn-success popup-button" role="button">Modifier</span>
                            <span class="btn btn-success popup-button lienadd" id="lienadd" role="button">Ajouter au  panier</span></p>
                        <div class="close"></div>
                    </div>
                </div>
            </div>
            <!-- Popup panier -->
            <div id="mycart">
                <div class="mycart-content">
                    <h3>Contenu du panier</h3>
                    <div>
                        <p class="para" id="listcart"></p>
                        <p><span class="btn btn-success popup-button" id="sendpanier" role="button">Passer commande</span><span class="btn btn-success popup-button" onclick="emptycart()" role="button">Vider le panier</span><span class="btn btn-danger popup-button" onclick="closecart()" role="button">Fermer le panier</span></p>
                        <div class="closecart"></div>
                    </div>
                </div>
            </div>                </ul>
    </nav>
{% endblock %}
{% block contenu %}{% endblock %}
<footer class="footer">
    <div class="container">
        <p>Copyright-fondespierre/beWeb</p>
    </div>
</footer>
{% block javascripts %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="./js/popup.js"></script>
</body>
</html>
