{% extends 'base.html.twig' %}

{% block nav %}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <ul class="nav text-center">
                    <li class="col-lg-3"><a href="{{ path('home')}}">Accueil</a></li>
                    <li class="col-lg-3"><a href="{{ path('pizza')}}">Nos pizzas</a></li>
                    <li class="col-lg-3"><a href="{{ path('location')}}">Venir nous voir</a></li>
                    {#<li class="col-lg-3"><a href="{{ path('login')}}">Se connecter</a></li>#}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block contenu %}
    <section class="container thumbnail">
        <div class="row">
            {% for enseigne in varEnseigne%}
            <div class="col-md-4 text-center">
                <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span><h1>{{enseigne.horaires}}</h1>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><h1>{{enseigne.telephone}}</h1>
            </div>
            {% endfor %}
            {%  for  pizza in varPizza %}
            <div class="col-md-4 text-center">
                <h1>Pizza du jour</h1>
                <img height="200" width="200" src="{{asset('images/')~pizza.image }}">
                <h1>{{pizza.nomPizza}}</h1>
            </div>
            <div class="col-md-4">
                <h3>Ingredients</h3>
                <p>{{pizza.ingredients}}</p>
            </div>
                {% endfor %}
        </div>
    </section>
{% endblock %}

