{% extends 'base.html.twig' %}

{% block nav %}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <ul class="nav text-center">
                    <li class="col-lg-3"><a href="{{ path('home')}}">Accueil</a></li>
                    <li class="col-lg-3"><a href="{{ path('pizza')}}">Nos pizzas</a></li>
                    <li class="col-lg-3"><a href="{{ path('location')}}">Venir nous voir</a></li>
                    {% if is_granted("ROLE_ADMIN")%}
                        <li class="col-lg-3"><a href="{{ path('fos_user_security_logout')}}">Se deconnecter</a></li>
                    {% elseif is_granted("ROLE_USER") %}
                        <li class="col-lg-3"><a href="{{ path('fos_user_security_logout')}}">Se deconnecter</a></li>
                    {% else %}
                         <li class="col-lg-3"><a href="{{ path('fos_user_security_login')}}">Se connecter</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="container">
        {%  for  pizza in varPizza %}
        <div id="{{pizza.id}}" class="row thumbnail">
            <img class="col-md-2" src="{{asset('images/')~pizza.image }}">
            <div class="col-md-8">
                <h3 class="text-center">{{pizza.nomPizza}}</h3>
            <p class="text-center">{{pizza.ingredients}}</p>
            <p>{{pizza.base}}</p>
            </div>
            <h3 class="col-md-2">Prix: {{pizza.prix}} €</h3>
            <button class="btn-success commander" onclick="addtocart({{pizza.id}})">Ajouter au panier</button>
        </div>
        {% endfor %}
    </div>
{% endblock %}
