{% extends 'base.html.twig' %}

{% block nav %}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <ul class="nav text-center">
                    <li class="col-lg-3"><a href="{{ path('home')}}">Accueil</a></li>
                    <li class="col-lg-3"><a href="{#{{ path('pizza')}}#}">Nos pizzas</a></li>
                    <li class="col-lg-3"><a href="{{ path('location')}}">Venir nous voir</a></li>
                    <li class="col-lg-3"><a href="#">Se connecter</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block contenu %}
    <div class="container">
        {#{% for  in  %}#}
        <div class="row thumbnail">
            <img class="col-md-2" src={#{{Pizza.image}}#}"http://emporter.pizzapai.fr/media/catalog/product/cache/1/image/1000x/9df78eab33525d08d6e5fb8d27136e95/p/i/pizza-pizza-pai_6.jpg">
            <div class="col-md-8">
                <h3 class="text-center">{#{{Pizza.nom}}#}Eruption volcanique</h3>
            <p>Emensis itaque difficultatibus multis et nive obrutis
                callibus plurimis ubi prope Rauracum ventum est ad supercilia
                fluminis Rheni, resistente multitudine Alamanna pontem
                suspendere navium conpage Romani vi nimia vetabantur ritu
                grandinis</p>
            </div>
            <h3 class="col-md-2 pprix">{#{{Pizza.prix}}#}Prix: 9.99€</h3>
        </div>
        {#{% endfor %}#}
    </div>
{% endblock %}