{% extends 'base.html.twig' %}


{% block nav %}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <ul class="nav text-center">
                    <li class="col-lg-3"><a href="{{ path('home')}}">Accueil</a></li>
                    <li class="col-lg-3"><a href="{{ path('pizza')}}">Nos pizzas</a></li>
                    <li class="col-lg-3"><a href="{{ path('location')}}">Venir nous voir</a></li>
                        {#<li class="col-lg-3"><a href="{{ path('login')}}">Se connecter</a></li>#}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block contenu %}
    <h1>Liste des Commandes</h1>
        {% for commande in commandes %}
            <div id="{{commande.id}}" class="container-fluid thumbnail {{commande.statut}}">
                <div class="col-xs-8 commandAdmin">
                    <div class="col-md-6">   
                        <h3>Nom du Client: {{commande.idClient}}</h3>
                        <p>Date: {{commande.date|date('d/m/y')}}</p>
                        <p>Heure: {{commande.heure|date('h:i:s')}}</p>
                    </div>
                    <div class="col-md-6">
                        <h3>Nom de Pizza: </h3>
                        <p>{{commande.idPizza}}</p>
                    </div>
                </div>
                <button class="btn btn-primary col-xs-4 annuler">ANNULER</button>
            </div>
        {% endfor %}
{% endblock %}