{% extends 'base.html.twig' %}


{% block nav %}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <ul class="nav text-center">
                    <li class="col-lg-3"><a href="{{ path('home')}}">Accueil</a></li>
                    <li class="col-lg-3"><a href="{{ path('pizza')}}">Nos pizzas</a></li>
                    <li class="col-lg-3"><a href="{{ path('location')}}">Venir nous voir</a></li>
                        {#<li class="col-lg-3"><a href="{{ path('login')}}">Se connecter</a></li>#}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block contenu %}
    <h1>Liste des Commandes</h1>
    {% for commande in commandes %}
        <div id="{{commande.id}}" class="container thumbnail {{commande.statut}}">
            <div class="col-xs-8">
                <div class="col-md-6">   
                    <h3>Nom du Client: {{commande.idClient}}</h3>
                    <p>Date: {{commande.date|date('d/m/y')}}</p>
                    <p>Heure: {{commande.heure|date('h:i:s')}}</p>
                </div>
                <div class="col-md-6">
                    <h3>Nom de Pizza: </h3>
                    <p>{{commande.idPizza}}</p>
                </div>
            </div>
        </div>
            <button class="btn btn-default annuler">ANNULER</button>
    {% endfor %}
    {#    {% verbatim %}
    
            <div class="container thumbnail" ng-app="command" ng-contoller="commandAdmin"  ng-repeat="commande in commands">
                <h3>Numéro du Client: {{commande}}</h3>
                <div class="row">
                    <div class="col-md-4">   
                        <p>Date: {{commande.date | date('d/m/y')}}</p>
                        <p>Heure: {{commande.heure | date('h:i:s')}}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Moyen du Paiement: {{commande.modePaiement}}</p>
                        <p>Nom du livreur: {{commande.nomLivreur}}</p>
                        <p>Numéro de Pizza: {{commande.idPizza}}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Message: {{commande.message}}</p>
                        <p>Adresse: {{commande.adressesLivraison}}</p>
                    </div>
                </div>
            </div>
        {% endverbatim %}#}
{% endblock %}
